.movie {
  width: 30rem;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: all .3s ease;
  align-self: start; 
  position: relative;
}

.movie:hover {
  transform: scale(1.05);
}

.movie-img {
  width: 100%
}

.movie-info {
  padding: 1rem;
  max-height: 5rem;
  font-size: 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-rating {
  background-color: var(--secondary-color);
  margin-left: 0.6rem;
  padding: 0.5rem; 
  min-width: 3.4rem;
  border-radius: 50%;
  text-align: center;
}

.favorites {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 45px;
  width: 30px;
  background: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: none;
  color: inherit;
  cursor: pointer;
  color: rgba (0,0,0,.5);
  transition: all .3s ease;
}

a:link {
  color: #fff;
}

.favorites:hover {
   font-size: 4rem;
   color: #fff;
}

.favorites:active {
  font-size: 2rem;
  color: grey;
}