.movie-img img {
  width: 100%;
}

.movie-title {
  padding: 1rem 0 2rem 0;
  text-align: center;
  font-size: 42px;
}

.movie-overview-section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6rem;
  position: relative;

  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 5rem;
  z-index: 10;
}

.movie-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-img {
  width: 300px;
}

.movie-plot {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 8rem;
}

.movie-release-date {
  font-size: 1.5rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}

.movie-release-date span {
  padding-left: 1rem;
}


.close {
  position: absolute;
  background-color: inherit;
  border: none;
  color: inherit;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;

  top: -3.5rem;
  right: -6rem;
}

.close:hover::before, .close:hover::after { 
  transition: all .3s ease;
  background-color: var(--red-color);
}

.close::before, .close::after {
  content: " ";
  background-color: #fff;
  position: absolute;
  top: 0;
  height: 4rem;
  width: 2.5px;
  transition: all .4s ease;
 }

 .close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
