.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 0 3rem;
  background-color: #E1E5EA;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .logo:link,
  .logo:visited {
    font-size: 3rem;
    font-style: italic;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }


