.header {
  background-color: var(--primary-color);
  
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo:link,
.logo:visited {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 0.7px;
  margin-left: 2rem;
  cursor: pointer;
}




