.header {
  background-color: var(--primary-color);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo:link,
.logo:visited {
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.6px;
  margin-left: 2rem;
  cursor: pointer;
}




