.input {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
}

.input:focus {
  outline: none;
  border: 1px #ddd solid;
}

.input:focus::placeholder {
  color: transparent;
}

.input::selection {
  background-color: #000;
  color: #fff;
}