.main-nav-list { 
  list-style: none;
  letter-spacing: 0.5px;
  display: flex;
}

.main-nav-link a:link,
.main-nav-link a:visited,
.main-nav-link button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  padding: 2rem;
  transition: all 0.3s;
}

.main-nav-link a:hover,
.main-nav-link a:active,
.main-nav-link button:hover {
  background-color: var(--secondary-color);
}

.main-nav-link button {
  background-color: var(--primary-color);
  border: none;
}