.main-nav {
  display: flex;
}

.main-nav-list { 
  list-style: none;
  letter-spacing: 0.5px;
  display: flex;
text-align: center;
}

.main-nav-link a:link,
.main-nav-link a:visited,
.main-nav-link button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  padding: 2rem;
  transition: all 0.3s;
  letter-spacing: 1.6px;
}

.main-nav-link a:hover,
.main-nav-link a:active,
.main-nav-link button:hover {
  background-color: var(--secondary-color);
}

.main-nav-link button {
  background-color: var(--primary-color);
  border: none;
}

@media all and (max-width: 55em) {
  body {
    overflow-x: hidden;
  }

  .main-nav-link a:link,
  .main-nav-link a:visited,
  .main-nav-link button {
    padding: 2rem 1rem;
  }

  .main-nav-list {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--primary-color);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: -30rem;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  }

  .main-nav-link a:link {
    margin-bottom: 10rem;
  }

  .active .main-nav-list {
    right: 0;
  }

  .hamburger-menu {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    align-self: center;
    margin: 2rem;
    z-index: 100;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.8s;
  }

  .active .line-1 {
    transform: rotate(-405deg) translate(-8px, 6px);
  }
  
  .active .hamburger-menu .line-2 {
    opacity: 0;
  }
  
  .active .hamburger-menu .line-3 {
    transform: rotate(405deg) translate(-8px, -6px);
  }
}

