.close {
  position: absolute;
  background-color: inherit;
  border: none;
  color: inherit;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;

  top: -3.5rem;
  right: -6rem;
}

.close:hover::before, .close:hover::after { 
  transition: all .3s ease;
  background-color: var(--red-color);
}

.close::before, .close::after {
  content: " ";
  background-color: #fff;
  position: absolute;
  top: 0;
  height: 4rem;
  width: 2.5px;
  transition: all .4s ease;
 }

 .close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
