*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: inherit;
}

html {
font-size: 62.5%;
}

body {
box-sizing: border-box;
background-color: #FAF3F3;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434b50;
}

main {
  margin-top: 14rem;
}

