.form-cnt {
  max-width: 64rem;
  padding: 4rem 6rem;
  margin: 0 auto;
}

button {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font: inherit;
    color: inherit;
    letter-spacing: 1px; 
    font-size: 1.5rem;
    cursor: pointer;
  }



  .form-control {
    padding-bottom: 3rem;
  }



  .invalid input{
    border: 1px #b40e0e solid;
  }

  .error {
    margin: 8px;
    margin-bottom: 0;
    color: #b40e0e; 
  }