.form-cnt {
  max-width: 64rem;
  padding: 4rem 6rem;
  margin: 0 auto;
}

button {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font: inherit;
    color: inherit;
    letter-spacing: 1px;
    font-size: 1.5rem;
    cursor: pointer;
  }


  

  .testik {
    padding-bottom: 3rem;
  }

  .test {
    margin: 8px;
    color: red;
  }