.heading {
  font-size: 5rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.form {
  max-width: 56rem;
  padding: 0 6rem;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
}


.submit{
  width: 30%;
  padding: 0.8rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--error-color);   
  font-family: inherit;
  color: inherit;
  letter-spacing: 1px; 
  font-size: 1.5rem;
  cursor: pointer;

  align-self: flex-end;
  }

  .form-control {
    padding-bottom: 3rem;
  }

  .invalid input {
    border: 1.5px var(--error-color) solid;
  }

  .invalid input::placeholder {
    color: var(--error-color);
  }

  .error-msg {
    margin: 8px;
    margin-bottom: 0;
    color: #b40e0e; 
  }