.movie-list-section {
  position: fixed;
  top: 7rem;
  bottom: 0;
  width: 100%;
  z-index: -1;
  margin: 0 auto;
  padding: 1.2rem;
  overflow-y:scroll;
  overflow-x:hidden;

  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center ;
}